* {
    font-family: 'Server Font';
}

a {
    text-decoration: none;
}

.shadow {
    box-shadow: 0px 0px 0px #000000;
    transition: ease 0.3s;
}

.shadow:hover {
    box-shadow: 0px 5px 8px #000000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var( --primaryColor );
    border-radius: 12px;
}

html {
    color: white;
    background-color: black;
    font-family: 'Server Font';
    cursor: default;
}

.sideNavbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: -50px;
    background-color: #111;
    overflow-x: hidden;
    /*padding-top: 60px;*/
    border-radius: var( --m3-drawer-borderRadius );
    transition: 0.5s;
}

.sideNavbar a {
    /*padding: 5px 16px 5px 16px;*/
    width: 262px;
    /*height: 56px;*/
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #F1F1F1;
    opacity: 0.6;
    display: block;
    transition: ease 0.3s;
    transform: translate(55px, 0px);
    border-radius: var( --m3-button-borderRadius );
}

.sideNavbar a:hover {
    background-color: var( --hoverColor );
    opacity: 1.0;
    /*transform: translate(10px, 0);*/
}

.sideNavbar a.active {
    opacity: 1.0;
    background-color: var( --primaryColor );
}

.sideNavbar a > div > img {
    aspect-ratio: 1 / 1;
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.sideNavbar a > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    padding: var( --m3-button-innerDiv-padding-withIMG );
}

.hamburgerIcon {
    position: relative;
    top: 4px;
    left: 5px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: /*#333*/white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#changelog > ul > li {
    margin-bottom: 5px;
}

#changelog > ul > li > code, #changelog > ul > li > a {
    background-color: var( --primaryColor );
    padding: 2px;
    border-radius: 5px;
    color: white;
}

#changelog > ul > li > a {
    text-decoration: underline;
}

#directory {
    font-size: 15px;
}

#superContainer {
    display: block;
    right: 20px;
    left: 20px;
    /*height: 100%;*/
    height: fit-content;
    border-radius: var( --m3-element-borderRadius-min );
    padding: 10px;
}

#superContainer > section {
    display: flex;
    justify-content: center;
    border-radius: var( --m3-element-borderRadius-min );
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
}

.sectionTitle > img {
    aspect-ratio: 1 / 1;
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.stringCanCopy {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.copyImg {
    opacity: 0;
    transition: var( --m3-element-transition );
}

.stringCanCopy:hover > .copyImg {
    opacity: 1;
}

#miniContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
    right: 20px;
    left: 20px;
    /*height: 100%;*/
    height: fit-content;
    border-radius: var( --m3-button-borderRadius );
    padding: var( --m3-element-padding );
}

#miniContainer > section {
    display: flex;
    justify-content: center;
    border-radius: var( --m3-element-borderRadius-min );
    padding: var( --m3-element-padding );
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

#navBarGreetings {
    padding: 8px 30px 8px 70px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

#main {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    transition: margin-left .5s;
    padding: 20px;
    background-color: black;
}

#header {
    position: fixed;
    height: 50px;
    top: 20px;
    left: 20px;
    right: 20px;
    color: white;
    align-content: center;
    border-radius: var( --m3-button-borderRadius );
    border: 1px solid black;
    padding: 0px 10px;
    transition: 0.5s;
}

#headerGhost {
    height: 70px;
}

#webTitle {
    position: relative;
    top: -5px;
    left: 15px;
    font-size: xx-large;
}

#searchButton {
    position: absolute;
    width: 48px;
    height: auto;
    aspect-ratio: 1 / 1;
    top: 0px;
    right: 58px;
}

#accountPhoto {
    position: absolute;
    right: 5px;
    top: 0px;
}

#formTable {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 500px;
    height: fit-content;
    border-radius: 12px;
    padding: 0px 10px 10px 10px;
    border-width: 0px;
}

.accessForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: fit-content;*/
    width: calc( 100% - 35px );
    padding: 10px;
    border-radius: 12px;
}

.revealPassword {
    aspect-ratio: 1 / 1;
    width: 24px;
    height: auto;
    float: right;
    transform: translate(-10px, -35px);
    cursor: pointer;
}

#searchForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var( --primaryColor );
    padding: var(--m3-element-padding);
    border-radius: var(--m3-element-borderRadius-min);
    margin-bottom: 20px;
}

fieldset.search {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var( --primaryColor-Dark );
    border-radius: var( --m3-element-borderRadius-min );
}

fieldset.search > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.button > img {
    aspect-ratio: 1 / 1;
    width: 24px;
    height: auto;
}

.sectionTitle > a > button {
    margin-right: 5px;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 5px;
}

.uploader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 5px;
}

.sensibleActionButton  {
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.sensibleActionButton  > img {
    padding-right: 10px;
}

.settingSection {
    display: block;
    width: calc( 100% - 70px );
    background-color: rgb(88, 88, 88);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#setupContainer {
    border-radius: 12px;
    padding: 20px;
}

.max-width {
    width: 100%;
}

.right {
    float: right;
    margin-left: 5px;
}

.left {
    float: left;
    margin-right: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


#playerSuperContainer {
    width: 100%;
    border-radius: var( --m3-element-borderRadius-min );
    padding-bottom: 10px;
}

#videoTitle, #musicTitle {
    margin: 15px;
}

#descriptionContainer {
    padding: 10px;
}

#videoPlayer {
    width: 55%;
    min-width: 350px;
    max-width: 650px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    aspect-ratio: 16 / 9;
    outline: none;
    border: solid 2px var( --hoverColor );
    /*background-color: var( --primaryColor-Dark );*/
}

#musicPlayer {
    display: none;
}

#playerTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

#playerAndPlaylist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#musicPlayerContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#musicPlayerContainer > #musicImg {
    aspect-ratio: 1 / 1;
    width: 240px;
    height: auto;
    border-radius: var( --m3-element-borderRadius-min );
}

#playerProgressBarContainer {
    display: flex;
    align-items: center;
    width: 240px;
    height: 7px;
    background-color: var( --primaryColor-Dark );
    border-radius: var( --m3-element-borderRadius-min );
    transition: var( --m3-element-transition );
}

#playerProgressBarContainer:hover {
    height: 10px;
}

#playerProgressBarDot {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

#playerControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#playerControls > .button {
    padding: 10px;
}

#musicPlayerContainer > #musicPlayer {
    width: 240px;
}

#playlist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 2px;
}

#playlist > .playlistItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: var( --m3-element-transition );
}

#playlist > .playlistItem > p {
    margin: 0;
}

#playlist > .playlistItem > img {
    aspect-ratio: 1 / 1;
    width: 28px;
    height: auto;
}

#playlist > .playlistItem:hover > #playingButton, #playlist > .playlistItem.playing > #playingButton {
    content: url('/src/icons/play.svg');
}

#playlist > .playlistItem.playing:hover > #removeButton {
    content: url('/src/icons/bin.svg');
}

#playlist > .playlistItem.playing {
    background-color: var( --primaryColor-Dark );
    padding: var( --m3-element-padding);
    border-radius: var( --m3-element-borderRadius-min);
}

#buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#buttonsContainer > .button {
    margin-top: unset !important;
}

#fsOps {
    display: hidden;
}

#fsOps.show {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    position: fixed;
    padding: 10px;
    bottom: 10px;
    right: 30px;
    background-color: var( --hoverColor );
    border-radius: var( --m3-element-borderRadius-min );
}

#fsOps > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    background-color: var( --primaryColor );
    padding: 10px;
    border-radius: var( --m3-element-borderRadius-min );
}

#fsOps > div > p {
    margin: 0px;
}

footer {
    position: relative;
    padding: 20px 10px;
    top: 20px;
    bottom: 20px;
    border-radius: var( --m3-element-borderRadius-min );
    text-align: center;
}

footer code {
    font-size: 18px;
}

#version, #version > code {
    margin: 0px;
    font-size: 13px;
}

@media screen and ( max-height: 450px ) {

    .sideNavbar {
        padding-top: 15px;
    }

    .sideNavbar a {
        font-size: 18px;
    }

}

@media screen and ( max-width: 710px ) {
    #directory {
        display: none;
    }

    #miniContainer {
        grid-template-columns: 100%;
        column-gap: 0px;
    }

    #playerAndPlaylist {
        flex-direction: column;
    }
}